*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

footer >.footer_panel{
    height: 300px;
    background-color:black;
    display: flex;
    flex-direction: row;
    color:white;
    justify-content: space-around;
    align-items: center;
}
.img_part >img{
    height: 250px;
    width: 250px;
}

.aboutUs_part{
    height: 250px;
    width: 250px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h3{
    font-size: 2em;
    text-align: left;
    border-bottom:2px solid white ;
    padding: 4px;
 
}
p{
    font-size: 1.2em;
    margin: 5px;
    text-align: left;
    
}

.contactUs_part{
    height: 242px;
    width: 250px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.social-media{
    display: flex;
    justify-content: left;  
  
}

.social-icon{
    height: 46px;
    width: 46px;
    border:1px solid #333;
    margin:0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    font-size: 1.1rem;
    border-radius: 50%;
    background-color: white;
    
}

.social-icon:hover{
    color:white;
    background-color: black;
}

@media all and (max-width:872px){
    .img_part>img{
        height: 220px;
        width: 220px;
    }

    .aboutUs_part{
        height: 220px;
        width: 220px;
    }
    .contactUs_part{
        height:225px;
        width: 220px;
    }
    .social-icon{
        height: 40px;
        width: 40px;
    }

}


